html,body,p,h1,h2,h3{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    height:100vh;
}

.content{
    height:100%;
    color:white;
}

nav{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:2rem 0;
    gap:10%;
    font-size: 1.5rem;
}


main{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width:85%;
    margin: 1rem auto 0 auto;
}





/* HOME STYLES */

.home-img{
    background:
  linear-gradient(
    rgba(0, 0, 0, .7),
    rgba(0, 0, 0, .7)
  ),
  url(./images/main.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.name{
    font-size: 3rem;
    letter-spacing: .3rem;
}

.info-contain{
    margin-top:3rem;
    padding:2rem;
    border:1px solid rgba(20, 19, 19, 0.8);
    height:50vh;
    min-width:95%;
    box-shadow: 0px 0px 20px #141313cc ;
    background-color: rgba(70, 67, 67, 0.274);
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.info-contain-title{
    text-align: center;
    font-size: 2.5rem;
}


.info-content-container{
    display: flex;
    justify-content: space-between;
    padding:2rem 0;
}

.info-content{
    display: flex;
    flex-flow: column nowrap;
    gap:1rem;
    font-size: 1.3rem;
}

.content-titles{
    align-self: center;
    border-bottom:1px solid white;
}


/* menu styles */

.info-contain-menu{
    display:grid;
}